In [42]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from tqdm import tqdm

# Загрузка данных

In [3]:
df1 = pd.read_csv('./dataset_1.csv')
df2 = pd.read_csv('./dataset_2.csv')
df3 = pd.read_csv('./dataset_3.csv')
df4 = pd.read_csv('./dataset_4.csv')
df5 = pd.read_csv('./dataset_5.csv')

df = pd.concat([df1, df2, df3, df4, df5])
df = df.drop(['Unnamed: 0'], axis=1)

df = df.dropna()

df.target_building_id = df.target_building_id.astype('int64')

df.rename(columns = {'target_building_id': 'target_id'}, inplace=True)

print('df1', df1.shape)
print('df2', df2.shape)
print('df3', df3.shape)
print('df4', df4.shape)
print('df5', df5.shape)
print('df', df.shape)

df.head()

df1 (1150, 4)
df2 (5597, 4)
df3 (4045, 4)
df4 (25268, 4)
df5 (138288, 4)
df (174290, 3)

,address,target_id,target_address
0,"196641, Санкт-Петербург г, Школьная ул, д.5",76337,"Санкт-Петербург, город Павловск, Пязелево, Шко..."
1,"Санкт-Петербург (г.), Железнодорожный (пр-кт.)...",220011,"г.Санкт-Петербург, Железнодорожный проспект, д..."
2,"198325, Санкт-Петербург г, Красное Село г, Теа...",109979,"Санкт-Петербург, город Красное Село, Дудергоф,..."
3,"195256, Санкт-Петербург (г.), Верности (ул.), ...",72112,"г.Санкт-Петербург, улица Верности, дом 28, кор..."
4,"194291, Санкт-Петербург (г.), Кустодиева (ул.)...",186531,"г.Санкт-Петербург, улица Кустодиева, дом 1, ли..."

Почистим df

In [ ]:
# def crear_target_address():
#     min_id, max_id = min(df['target_id']), max(df['target_id'])

#     need_fix = {}
#     counter = 0

#     for cur_id in range(min_id, max_id):
#         coincidences = df.loc[df['target_id'] == cur_id]
#         count_row = coincidences.shape[0]
#         if count_row <= 1:
#             pass
#         else:
#             cur_addresses = list(coincidences['target_address'])
#             if cur_addresses.count(cur_addresses[0]) != len(cur_addresses):
#                 need_fix[cur_id] = cur_addresses
#         counter += 1

#     def most_frequent(item):
#         unique, counts = np.unique(item, return_counts=True)
#         index = np.argmax(counts)
#         return unique[index]

#     max_key = max(list(need_fix.keys()))

#     for key, value in need_fix.items():
#         freq = most_frequent(value)
#         df.loc[df['target_id'] == key, 'target_address'] = freq


# crear_target_address()

In [4]:
df_area = pd.read_csv('./area_20230808.csv')
df_areatype = pd.read_csv('./areatype_20230808.csv')
df_building = pd.read_csv('./building_20230808.csv')
df_district = pd.read_csv('./district_20230808.csv')
df_geonim = pd.read_csv('./geonim_20230808.csv')
df_geonimtype = pd.read_csv('./geonimtype_20230808.csv')
df_prefix = pd.read_csv('./prefix_20230808.csv')
df_subrf = pd.read_csv('./subrf_20230808.csv')
df_town = pd.read_csv('./town_20230808.csv')

print('df_area', df_area.shape)
print('df_areatype', df_areatype.shape)
print('df_building', df_building.shape)
print('df_district', df_district.shape)
print('df_geonim', df_geonim.shape)
print('df_geonimtype', df_geonimtype.shape)
print('df_prefix', df_prefix.shape)
print('df_subrf', df_subrf.shape)
print('df_town', df_town.shape)

C:\Users\Максим\AppData\Local\Temp\ipykernel_10984\2377113874.py:3: DtypeWarning: Columns (4,6,7,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_building = pd.read_csv('./building_20230808.csv')

df_area (3251, 7)
df_areatype (72, 5)
df_building (166645, 16)
df_district (40, 4)
df_geonim (6207, 7)
df_geonimtype (23, 5)
df_prefix (16341, 12)
df_subrf (18, 5)
df_town (198, 7)

In [5]:
df_area = df_area.drop(['name', 'short_name'], axis=1)
df_areatype = df_areatype.drop(['short_name'], axis=1)
df_district = df_district.drop(['is_updated'], axis=1)
df_geonim = df_geonim.drop(['name', 'short_name'], axis=1)
df_geonimtype = df_geonimtype.drop(['short_name'], axis=1)
df_prefix = df_prefix.drop(['short_name'], axis=1)
df_subrf = df_subrf.drop(['short_name'], axis=1)
df_town = df_town.drop(['short_name'], axis=1)

In [6]:
df_area.rename(columns = {
    'id': 'area_id', 'type_id': 'areatype_id', 'is_updated': 'is_updated_area',
    'is_actual': 'is_actual_area', 'only_name': 'only_name_area'
}, inplace=True)
df_area.head(2)

   area_id  areatype_id  is_updated_area  is_actual_area  only_name_area
0      105          2.0             True           False           ВИР-1
1      368         15.0             True            True  Ижорский завод

In [7]:
df_areatype.rename(columns = {
    'id': 'areatype_id', 'is_updated': 'is_updated_areatype', 'is_actual': 'is_actual_areatype', 'name': 'name_areatype'
}, inplace=True)
df_areatype.head(2)

,areatype_id,name_areatype,is_updated_areatype,is_actual_areatype
0,27,территория предприятия,True,True
1,29,земли,True,True

In [8]:
df_building.rename(columns = {'id': 'target_id'}, inplace=True)
df_building.head(2)

,target_id,prefix_id,district_id,house,corpus,liter,villa,parcel,full_address,is_updated,is_actual,type,municipality_id,short_address,post_prefix,build_number
0,56343,11132,35,12,NaN,А,NaN,NaN,"город Пушкин, Кедринская улица, дом 12",True,False,NaN,107.0,"г.Пушкин, Кедринская ул., д. 12",NaN,NaN
1,595,6987,38,4Б,NaN,NaN,NaN,NaN,"поселок Ушково, Пляжевая улица, дом 4Б",True,False,NaN,128.0,"пос. Ушково, Пляжевая ул., д. 4Б",NaN,NaN

In [9]:
df_district.rename(columns = {
    'id': 'district_id', 'is_updated': 'is_updated_district', 'is_actual': 'is_actual_district', 'name': 'name_district'
}, inplace=True)
df_district.head(2)

   district_id     name_district  is_actual_district
0            1        Неизвестно                True
1            6  Василеостровский                True

In [10]:
df_geonim.rename(columns = {
    'id': 'geonim_id', 'type_id': 'geonimtype_id', 'is_updated': 'is_updated_geonim', 'is_actual': 'is_actual_geonim', 'only_name': 'only_name_geonim'
}, inplace=True)
df_geonim.head(2)

,geonim_id,geonimtype_id,is_updated_geonim,is_actual_geonim,only_name_geonim
0,100038,19,True,True,ЗСД
1,502,2,True,True,3-я

In [11]:
df_geonimtype.rename(columns = {
    'id': 'geonimtype_id', 'is_updated': 'is_updated_geonimtype', 'is_actual': 'is_actual_geonimtype', 'name': 'name_geonimtype'
}, inplace=True)
df_geonimtype.head(2)

   geonimtype_id name_geonimtype  is_updated_geonimtype  is_actual_geonimtype
0              1      Неизвестно                   True                  True
1              2           аллея                   True                  True

In [12]:
df_prefix.rename(columns = {
    'id': 'prefix_id', 'is_updated': 'is_updated_prefix', 'is_actual': 'is_actual_prefix',
    'has_buildings': 'has_buildings_prefix', 'search_index': 'search_index_prefix'
}, inplace=True)
df_prefix.head(2)

,prefix_id,town_id,geonim_id,area_id,toponim_id,name,search_index_prefix,is_updated_prefix,is_actual_prefix,sub_rf_id,has_buildings_prefix
0,2038,NaN,2522.0,NaN,NaN,улица Отважных,'отважн':4 'отважных':2 'улиц':3 'улица':1,True,False,2.0,False
1,3484,NaN,NaN,NaN,NaN,NaN,NaN,True,False,2.0,False

In [13]:
df_subrf.rename(columns = {
    'id': 'sub_rf_id', 'is_updated': 'is_updated_subrf', 'is_actual': 'is_actual_subrf', 'name': 'name_subrf'
}, inplace=True)
df_subrf.head(2)

   sub_rf_id         name_subrf  is_updated_subrf  is_actual_subrf
0          7     город Павловск              True            False
1          8  город Петродворец              True            False

In [14]:
df_town.rename(columns = {
    'id': 'town_id', 'is_updated': 'is_updated_town', 'is_actual': 'is_actual_town',
    'has_buildings': 'has_buildings_town', 'name': 'name_town', 'search_index': 'search_index_town'
}, inplace=True)
df_town.head(2)

,town_id,name_town,search_index_town,is_updated_town,is_actual_town,has_buildings_town
0,7531,муниципальный округ Пискаревка,"'муниципальн':4 'муниципальный':1 'округ':2,5 ...",True,True,False
1,1,Неизвестно,'неизвестн':2 'неизвестно':1,True,True,False

# Преобразование единого датасета

In [15]:
df_area = df_area.merge(df_areatype, on='areatype_id')

df_geonim = df_geonim.merge(df_geonimtype, on='geonimtype_id')

df_prefix = df_prefix.merge(df_subrf, on='sub_rf_id')
df_prefix = df_prefix.merge(df_town, on='town_id')
df_prefix = df_prefix.merge(df_geonim, on='geonim_id')
df_prefix = df_prefix.merge(df_area, on='area_id')

df_building = df_building.merge(df_prefix, on='prefix_id', how = 'left')
df_building = df_building.merge(df_district, on='district_id', how = 'left')

df_building.head(2)

,target_id,prefix_id,district_id,house,corpus,liter,villa,parcel,full_address,is_updated,...,is_actual_geonimtype,areatype_id,is_updated_area,is_actual_area,only_name_area,name_areatype,is_updated_areatype,is_actual_areatype,name_district,is_actual_district
0,56343,11132,35,12,NaN,А,NaN,NaN,"город Пушкин, Кедринская улица, дом 12",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Пушкинский,True
1,595,6987,38,4Б,NaN,NaN,NaN,NaN,"поселок Ушково, Пляжевая улица, дом 4Б",True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Курортный,True

Делаю больше данных с адресами

In [16]:
df_building = df_building.merge(df, on='target_id', how = 'left')
df_building.iloc[np.arange(len(df_building)).repeat(4)]
df_building['my_address'] = np.nan
df_building.shape

(297599, 53)

In [17]:
lst = ['full_address', 'short_address', 'address', 'target_address']
idx_lst = 0

for idx, row in df_building.iterrows():

    df_building.loc[idx, 'my_address'] = row[lst[idx_lst]]
    
    idx_lst += 1
    if idx_lst > 3:
        idx_lst = 0

In [18]:
df_building.shape

(297599, 53)

In [19]:
# Пропуски в адресах
df_building.my_address = df_building.my_address.replace(to_replace='None', value=np.nan)

df_building = df_building.dropna(subset='my_address')

# Удаляю ненужные адреса
df_building = df_building.drop(['full_address', 'short_address', 'address', 'target_address'], axis=1)

df_building.rename(columns = {'my_address': 'target_address'}, inplace=True)

df_building.name_subrf = 'Санкт-Петербург'

print(df_building.shape)

(235916, 49)

In [20]:
df_building.head(2)

,target_id,prefix_id,district_id,house,corpus,liter,villa,parcel,is_updated,is_actual,...,areatype_id,is_updated_area,is_actual_area,only_name_area,name_areatype,is_updated_areatype,is_actual_areatype,name_district,is_actual_district,target_address
0,56343,11132,35,12,NaN,А,NaN,NaN,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Пушкинский,True,"город Пушкин, Кедринская улица, дом 12"
1,595,6987,38,4Б,NaN,NaN,NaN,NaN,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Курортный,True,"пос. Ушково, Пляжевая ул., д. 4Б"

# Анализ данных

Gропусков в данных

In [ ]:
df_building.isna().sum()

Данные о столбцах

In [ ]:
df_building.info()

In [ ]:
df_building.nunique()

# Генерация новых данных из доп. файлов

In [ ]:
# from random import shuffle
# import math


# COUNT_SHUFFLE = 0

# lst_idx = []
# lst_address = []

# for idx, row in df_building.iterrows():
    
#     lst_string = []
    
#     for col in ['post_prefix', 'name_subrf', 'name', 'name_district', 'only_name_geonim', 'house', 'corpus', 'liter']:
#         tmp = row[col]
#         if tmp and isinstance(tmp, str):
#             lst_string.append(tmp)
    
#     good_string = ' '.join(lst_string)
#     lst_address.append(good_string)
#     lst_idx.append(row['target_id'])

    
#     for i in range(COUNT_SHUFFLE):
#         np.random.shuffle(lst_string)
        
#         random_string = ' '.join(lst_string)
#         lst_address.append(random_string)
#         lst_idx.append(row['target_id'])

# len(lst_address)

In [ ]:
# lst_address[205]

# Предобработка данных

In [21]:
df_building.head(3)

,target_id,prefix_id,district_id,house,corpus,liter,villa,parcel,is_updated,is_actual,...,areatype_id,is_updated_area,is_actual_area,only_name_area,name_areatype,is_updated_areatype,is_actual_areatype,name_district,is_actual_district,target_address
0,56343,11132,35,12,NaN,А,NaN,NaN,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Пушкинский,True,"город Пушкин, Кедринская улица, дом 12"
1,595,6987,38,4Б,NaN,NaN,NaN,NaN,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Курортный,True,"пос. Ушково, Пляжевая ул., д. 4Б"
4,185368,4224,38,28,NaN,Б,NaN,NaN,True,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Курортный,True,"поселок Песочный, Речная улица, дом 28, литера Б"

Удаление столбцов с огромным количеством пропусков.

In [22]:
df_building = df_building.drop(['villa', 'parcel', 'toponim_id'], axis=1)

Пропуски заменяю на -1

In [23]:
df_building = df_building.fillna(-1)

df_building.search_index_town = df_building.search_index_town.replace(-1, '-1')
df_building.search_index_prefix = df_building.search_index_prefix.replace(-1, '-1')

Прихожу к правильному типу столбцы

In [24]:
cols_int = ['municipality_id', 'town_id', 'geonim_id', 'area_id', 'sub_rf_id', 'geonimtype_id', 'areatype_id']
df_building[cols_int] = df_building[cols_int].astype('int64')

# cols_bool = ['is_actual_areatype', 'is_updated_areatype', 'is_actual_area', 'is_updated_area',
#              'is_actual_geonimtype', 'is_updated_geonimtype', 'is_actual_town', 'is_updated_town']
# df_building[] = df_building[].astype('int64')

LabelEncoder для столбцов search_...

In [25]:
from sklearn.preprocessing import LabelEncoder

cols_le = ['search_index_town', 'search_index_prefix']
le = LabelEncoder()
for i in cols_le:
    le.fit(df_building[i])
    df_building[i] = le.transform(df_building[i])

In [26]:
# TODO: временное удаление этого столбца
# df_building = df_building.drop(['short_address'], axis=1)

In [27]:
# model = spacy.load('ru_core_news_lg')

In [28]:
# text = df.iloc[0].address
# print(text)
# doc = model(text)
# for ent in doc.ents:
#     print(ent.text, ent.label_)

Нормализация текстов.

In [29]:
df_building.head(2)

,target_id,prefix_id,district_id,house,corpus,liter,is_updated,is_actual,type,municipality_id,...,areatype_id,is_updated_area,is_actual_area,only_name_area,name_areatype,is_updated_areatype,is_actual_areatype,name_district,is_actual_district,target_address
0,56343,11132,35,12,-1,А,True,False,-1,107,...,-1,-1,-1,-1,-1,-1,-1,Пушкинский,True,"город Пушкин, Кедринская улица, дом 12"
1,595,6987,38,4Б,-1,-1,True,False,-1,128,...,-1,-1,-1,-1,-1,-1,-1,Курортный,True,"пос. Ушково, Пляжевая ул., д. 4Б"

# Chatter Bot

In [30]:
df_building.shape

(235916, 46)

In [38]:
# !pip install chatterbot
# !pip install chatterbot_corpus

In [31]:
from chatterbot import ChatBot
from chatterbot.trainers import ListTrainer

bot = ChatBot('Bot', read_only=True)

chatbot = ChatBot(
    "My ChatterBot",
    storage_adapter="chatterbot.storage.MongoDatabaseAdapter"
)

chatbotEnglish = ChatBot(
    "english mongodb",
    storage_adapter='chatterbot.storage.MongoDatabaseAdapter',
    logic_adapters=['chatterbot.logic.BestMatch' ],
    preprocessors = [ 'chatterbot.preprocessors.clean_whitespace', 'chatterbot.preprocessors.unescape_html' ],
    filters=[ 'chatterbot.filters.RepetitiveResponseFilter' ],
    input_adapter="chatterbot.input.VariableInputTypeAdapter",
    output_adapter="chatterbot.output.OutputAdapter",
    trainer='chatterbot.trainers.ChatterBotCorpusTrainer',
    database='chatterbot-database',
    read_only=True
)

# chatbot = ChatBot(
#     'JARVIS',  
#     logic_adapters=[
#         'chatterbot.logic.BestMatch',
#         'chatterbot.logic.TimeLogicAdapter'],
# )

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Максим\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Максим\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Максим\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [35]:
from chatterbot.trainers import ListTrainer
  
trainer = ListTrainer(bot)

lst = []
for idx, row in df_building.iterrows():
    lst.append(row['target_address'])
    lst.append(str(row['target_id']))

trainer.train(lst)

List Trainer: [####################] 100%

In [37]:
lst[1]

'56343'

Тестирование

In [39]:
df_test = pd.read_csv('./test_example.csv', on_bad_lines='skip', sep=';')

print(df_test.shape)
df_test.head()

(328, 3)

   id                                            address  target_building_id
0   0  197046, Санкт-Петербург (г.), Куйбышева (ул.),...               67206
1   1  197101, Санкт-Петербург (г.), Красного Курсант...               48868
2   2         197136, Санкт-Петербург г, Ленина ул, д.20               66919
3   3  197022, Санкт-Петербург (г.), Санкт-Петербург ...               53075
4   4  197022, Санкт-Петербург (г.), Санкт-Петербург ...               13759

In [62]:
lst_results = []

for idx, row in tqdm(df_test.tail(10).iterrows()):
    result = bot.get_response(row['address'])
    lst_results.append(int(result.text))

10it [00:53,  5.40s/it]

In [63]:
lst_results

[22590, 1576, 23189, 11125, 25283, 965, 34193, 758, 12102, 318]

In [64]:
from sklearn.metrics import accuracy_score


accuracy_score(lst_results, df_test.tail(10).target_building_id.values)

0.2

# Преобразования

In [ ]:
!pip install pymorphy2
# !python -m spacy download ru_core_news_lg

In [ ]:
from nltk.tokenize import word_tokenize #для токенизации по словам

import re
from pymorphy2 import MorphAnalyzer
from nltk.corpus import stopwords
import nltk

nltk.download('stopwords')

# import spacy

In [ ]:
tmp = df_building[['target_address', 'target_id']]
tmp = tmp.drop_duplicates(subset=['target_address'])

In [ ]:
x = tmp.target_address
y = tmp.target_id

# generate_x = pd.Series(lst_address)
# generate_y = pd.Series(lst_idx)

# x = pd.concat([x, generate_x], axis=0)
# y = pd.concat([y, generate_y], axis=0)

In [ ]:
x.shape

In [ ]:
patterns = "[A-Za-z!#$%&'()*+/:;,.<=>?@[\]^_`{|}~\"\-]+"

_stopwords_ru = stopwords.words("russian")
stopwords_ru = {}
for word in _stopwords_ru:
    
    if len(word) in stopwords_ru:
        stopwords_ru[len(word)].add(word)
    else:
        stopwords_ru[len(word)] = {word}

morph = MorphAnalyzer()


def lemmatize(doc):
    doc = re.sub(patterns, ' ', doc)
    
    tokens = []

    for token in word_tokenize(doc):

        count = len(token)
        if token and not (count in stopwords_ru and token in stopwords_ru[count]):
            
            token = ' ' + token + ' '
            
            token = token.replace(' д ', 'дом').replace(' ул ', 'улица').replace(' г ', 'город')
            token = token.replace('д.', 'дом').replace('ул.', 'улица').replace('г.', 'город')
            
            token = token.strip()
            token = token.lower()
            
            if token in ('санкт', 'петербург', 'город', 'улица', 'дом', 'посёлок', 'пос', 'пр', 'наб'):
                continue
            
            if count > 2:
                token = morph.normal_forms(token)[0]
            
            tokens.append(token)

    string = ' '.join(tokens)
    return string

In [ ]:
# TODO: малое кол-во берётся
x_norm = x.apply(lemmatize)

In [ ]:
print(x_norm.shape)
x_norm.head(10)

In [ ]:
x_norm.iloc[8]

In [ ]:
tmp1 = pd.DataFrame({'target_address': x_norm, 'target_id': y})

# Разделение данных на train/valid

In [ ]:
# data_string = x[x.columns].astype(str).apply(lambda x: ';'.join(x), axis = 1)
data_string = x_norm
data_string.head()

In [ ]:
data_string.shape

In [ ]:
data_string.iloc[2]

In [ ]:
# data_string = data_string[data_string.values != None]

# BERT - представления

Bert круче

In [ ]:
!pip install -U sentence-transformers

In [ ]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('sentence-transformers/LaBSE')
embeddings = model.encode(data_string.values)

In [ ]:
embeddings.shape

# Сохранение модели

In [ ]:
base_data = {}

for i in range(embeddings.shape[0]):

    target_idx = y.values[i]
    emb = embeddings[i]
        
    if target_idx in base_data:
        base_data[target_idx].append(emb)
    else:
        base_data[target_idx] = [emb]

In [ ]:
import pickle

with open('base_data.pkl', 'wb') as f:
    pickle.dump(base_data, f)

In [ ]:
import pickle

with open('/kaggle/input/hackaton-spb/base_data.pkl', 'rb') as f:
    base_data = pickle.load(f)

<a href="../base_data.pkl"> Download File </a>

<a href="../base_data.pkl"> Download File </a>

# Модель

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity


def get_similarity_df(base_data: dict, embedding: np.array, k_best: int) -> pd.DataFrame:
    """ Сравнение текущего эмбеддинга с базой данных и поиск k-подходящих
    адресов. """
    
    lst_target_building_id = []
    lst_value = []
    
    for target_building_id in base_data.keys():
        
        for emb in base_data[target_building_id]:
            
            value = np.dot(emb, embedding) / (np.linalg.norm(emb) * np.linalg.norm(embedding))

            lst_target_building_id.append(target_building_id)
            lst_value.append(value)
        
    df_result = pd.DataFrame({'target_building_id': lst_target_building_id, 'value': lst_value})
    df_result = df_result.sort_values(by=['value'], ascending=False)
    df_result = df_result.head(k_best)
    
    return df_result

# Прогон на тестовой выборке

In [ ]:
df_test = pd.read_csv('/kaggle/input/hackaton-spb/test_example.csv', on_bad_lines='skip', sep=';')

print(df_test.shape)
df_test.head()

In [ ]:
df_test.address = df_test.address.apply(lemmatize)
df_test.head()

In [ ]:
df_test = df_test.head(5)

In [ ]:
embeddings_test = model.encode(df_test.address.values)

In [ ]:
df_test

In [ ]:
import warnings
warnings.filterwarnings("ignore")


df_valid = pd.DataFrame({'target_building_id': [], 'value': []})

for i, emb in enumerate(tqdm(embeddings_test)):
    df_tmp = get_similarity_df(base_data, emb, 1)

    df_valid = df_valid.append(df_tmp, ignore_index=True)

#     if i > 10:
#         break

df_valid

In [ ]:
df_test

In [ ]:
tmp1[tmp1.target_id == 215395].target_address

In [ ]:
from sklearn.metrics import accuracy_score


accuracy_score(df_valid.target_building_id.values, df_test.target_building_id.values)